.navbar {
  padding: 20px;
  background-color: #24292e;
  color: #fff;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  display: flex;
  font-size: 30px;
  font-weight: 400;
}

.titulo {
  margin: 5px 10px 0 20px;
}

.search {
  display: flex;
  justify-content: center;
  padding: 2% 0 1% 0;
}

.card {
  display: flex;
  justify-content: center;
  padding: 0% 0% 50% 0%;
}
